@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply flex min-h-[100vh] flex-col bg-background text-foreground;
  }
}

/* Circle progress */
.circle-progress {
  @apply fill-none stroke-primary;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Swiper pagination style */
.teams .swiper-pagination {
  @apply -mb-2.5;
}

.teams .swiper-pagination-bullet {
  @apply h-2 w-2 transition-all duration-300;
}

.teams .swiper-pagination-bullet-active {
  @apply h-3 w-3;
}

/* about slider */
.aboutUsTestimonials .swiper-pagination {
  @apply !bottom-[100px] md:!bottom-[120px];
}

.aboutUsTestimonials .swiper-pagination-bullet {
  @apply h-10 w-8 overflow-hidden rounded-full transition-all duration-100 md:h-[60px] md:w-[60px];
}

.aboutUsTestimonials .swiper-pagination-bullet-active {
  @apply h-12 w-12 shadow md:h-[100px] md:w-[100px];
}

/* faqs-cta */
.faqs-cta {
  background: var(
    --tailwindcss-color-palette-slate-gradient-2,
    linear-gradient(90deg, rgba(241, 245, 249, 0) 0%, #c6d6e7 100%)
  );
}

/* apex chart style */
.apexcharts-canvas .apexcharts-tooltip {
  @apply dark:!text-primary-foreground;
}
/* apexcharts-tooltip-title */
/* apexcharts-tooltip-series-group */
.apexcharts-canvas .apexcharts-tooltip-marker {
  @apply dark:!bg-primary-foreground;
}
/* apexcharts-tooltip-text */

.actionLessLineChart .apexcharts-xaxis,
.apexcharts-xaxis-tick {
  display: none !important;
}

/* vectorMap style */
.vectorMap svg path {
  @apply cursor-pointer outline-none hover:fill-primary;
}

/* Code result viewer */
.code-result pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
